# FRED ETL

In this notebook data is extracted from the Federal Reserve Bank of St. Louis and loaded into a MongoDB database.

Series that we will extract are the following:

* Producer Price Index by Commodity: Lumber and Wood Products: Lumber (WPU081)
    * https://fred.stlouisfed.org/series/WPU081
* Median Sales Price of Houses Sold for the United States (MSPUS)
    * https://fred.stlouisfed.org/series/MSPUS
* Homeownership Rate for the United States (RHORUSQ156N)
    * https://fred.stlouisfed.org/series/RHORUSQ156N

In [19]:
#import dependencies
import pandas as pd
import numpy as np
import pymongo
from fredapi import Fred
from config import fred_key
fred = Fred(api_key=fred_key)

### Extract and Transform

In [20]:
lumber_price_index = pd.DataFrame(fred.get_series('WPU081')) #index where 1982 = 100
lumber_price_index.reset_index(inplace = True)
lumber_price_index.columns = ["date","lumber_price_index"]
print(f"Number of rows: {len(lumber_price_index)}")
lumber_price_index.tail()

Number of rows: 1143

           date  lumber_price_index
1138 2020-11-01               264.2
1139 2020-12-01               289.0
1140 2021-01-01               320.9
1141 2021-02-01               341.9
1142 2021-03-01               367.1

In [21]:
median_house_price = pd.DataFrame(fred.get_series('MSPUS'))
median_house_price.reset_index(inplace = True)
median_house_price.columns = ["date","median_house_price"]
print(f"Number of rows: {len(median_house_price)}")
median_house_price.tail()

Number of rows: 233

          date  median_house_price
228 2020-01-01            329000.0
229 2020-04-01            322600.0
230 2020-07-01            337500.0
231 2020-10-01            358700.0
232 2021-01-01            347500.0

In [22]:
ownership_rate = pd.DataFrame(fred.get_series('RHORUSQ156N'))
ownership_rate.reset_index(inplace = True)
ownership_rate.columns = ["date","homeownership_rate"]
print(f"Number of rows: {len(ownership_rate)}")
ownership_rate.tail()

Number of rows: 225

          date  homeownership_rate
220 2020-01-01                65.3
221 2020-04-01                67.9
222 2020-07-01                67.4
223 2020-10-01                65.8
224 2021-01-01                65.6

In [24]:
df = pd.merge(lumber_price_index,(pd.merge(ownership_rate, median_house_price, on = "date")), on = "date", how = "right")

In [31]:
df_dictionary = df.to_dict(orient = "list")
df_dictionary

{'date': [Timestamp('1965-01-01 00:00:00'),
  Timestamp('1965-04-01 00:00:00'),
  Timestamp('1965-07-01 00:00:00'),
  Timestamp('1965-10-01 00:00:00'),
  Timestamp('1966-01-01 00:00:00'),
  Timestamp('1966-04-01 00:00:00'),
  Timestamp('1966-07-01 00:00:00'),
  Timestamp('1966-10-01 00:00:00'),
  Timestamp('1967-01-01 00:00:00'),
  Timestamp('1967-04-01 00:00:00'),
  Timestamp('1967-07-01 00:00:00'),
  Timestamp('1967-10-01 00:00:00'),
  Timestamp('1968-01-01 00:00:00'),
  Timestamp('1968-04-01 00:00:00'),
  Timestamp('1968-07-01 00:00:00'),
  Timestamp('1968-10-01 00:00:00'),
  Timestamp('1969-01-01 00:00:00'),
  Timestamp('1969-04-01 00:00:00'),
  Timestamp('1969-07-01 00:00:00'),
  Timestamp('1969-10-01 00:00:00'),
  Timestamp('1970-01-01 00:00:00'),
  Timestamp('1970-04-01 00:00:00'),
  Timestamp('1970-07-01 00:00:00'),
  Timestamp('1970-10-01 00:00:00'),
  Timestamp('1971-01-01 00:00:00'),
  Timestamp('1971-04-01 00:00:00'),
  Timestamp('1971-07-01 00:00:00'),
  Timestamp('1971-10-01 00:00:00'),
  Timestamp('1972-01-01 00:00:00'),
  Timestamp('1972-04-01 00:00:00'),
  Timestamp('1972-07-01 00:00:00'),
  Timestamp('1972-10-01 00:00:00'),
  Timestamp('1973-01-01 00:00:00'),
  Timestamp('1973-04-01 00:00:00'),
  Timestamp('1973-07-01 00:00:00'),
  Timestamp('1973-10-01 00:00:00'),
  Timestamp('1974-01-01 00:00:00'),
  Timestamp('1974-04-01 00:00:00'),
  Timestamp('1974-07-01 00:00:00'),
  Timestamp('1974-10-01 00:00:00'),
  Timestamp('1975-01-01 00:00:00'),
  Timestamp('1975-04-01 00:00:00'),
  Timestamp('1975-07-01 00:00:00'),
  Timestamp('1975-10-01 00:00:00'),
  Timestamp('1976-01-01 00:00:00'),
  Timestamp('1976-04-01 00:00:00'),
  Timestamp('1976-07-01 00:00:00'),
  Timestamp('1976-10-01 00:00:00'),
  Timestamp('1977-01-01 00:00:00'),
  Timestamp('1977-04-01 00:00:00'),
  Timestamp('1977-07-01 00:00:00'),
  Timestamp('1977-10-01 00:00:00'),
  Timestamp('1978-01-01 00:00:00'),
  Timestamp('1978-04-01 00:00:00'),
  Timestamp('1978-07-01 00:00:00'),
  Timestamp('1978-10-01 00:00:00'),
  Timestamp('1979-01-01 00:00:00'),
  Timestamp('1979-04-01 00:00:00'),
  Timestamp('1979-07-01 00:00:00'),
  Timestamp('1979-10-01 00:00:00'),
  Timestamp('1980-01-01 00:00:00'),
  Timestamp('1980-04-01 00:00:00'),
  Timestamp('1980-07-01 00:00:00'),
  Timestamp('1980-10-01 00:00:00'),
  Timestamp('1981-01-01 00:00:00'),
  Timestamp('1981-04-01 00:00:00'),
  Timestamp('1981-07-01 00:00:00'),
  Timestamp('1981-10-01 00:00:00'),
  Timestamp('1982-01-01 00:00:00'),
  Timestamp('1982-04-01 00:00:00'),
  Timestamp('1982-07-01 00:00:00'),
  Timestamp('1982-10-01 00:00:00'),
  Timestamp('1983-01-01 00:00:00'),
  Timestamp('1983-04-01 00:00:00'),
  Timestamp('1983-07-01 00:00:00'),
  Timestamp('1983-10-01 00:00:00'),
  Timestamp('1984-01-01 00:00:00'),
  Timestamp('1984-04-01 00:00:00'),
  Timestamp('1984-07-01 00:00:00'),
  Timestamp('1984-10-01 00:00:00'),
  Timestamp('1985-01-01 00:00:00'),
  Timestamp('1985-04-01 00:00:00'),
  Timestamp('1985-07-01 00:00:00'),
  Timestamp('1985-10-01 00:00:00'),
  Timestamp('1986-01-01 00:00:00'),
  Timestamp('1986-04-01 00:00:00'),
  Timestamp('1986-07-01 00:00:00'),
  Timestamp('1986-10-01 00:00:00'),
  Timestamp('1987-01-01 00:00:00'),
  Timestamp('1987-04-01 00:00:00'),
  Timestamp('1987-07-01 00:00:00'),
  Timestamp('1987-10-01 00:00:00'),
  Timestamp('1988-01-01 00:00:00'),
  Timestamp('1988-04-01 00:00:00'),
  Timestamp('1988-07-01 00:00:00'),
  Timestamp('1988-10-01 00:00:00'),
  Timestamp('1989-01-01 00:00:00'),
  Timestamp('1989-04-01 00:00:00'),
  Timestamp('1989-07-01 00:00:00'),
  Timestamp('1989-10-01 00:00:00'),
  Timestamp('1990-01-01 00:00:00'),
  Timestamp('1990-04-01 00:00:00'),
  Timestamp('1990-07-01 00:00:00'),
  Timestamp('1990-10-01 00:00:00'),
  Timestamp('1991-01-01 00:00:00'),
  Timestamp('1991-04-01 00:00:00'),
  Timestamp('1991-07-01 00:00:00'),
  Timestamp('1991-10-01 00:00:00'),
  Timestamp('1992-01-01 00:00:00'),
  Timestamp('1992-04-01 00:00:00'),
  Timestamp('1992-07-01 00:00:00'),
  Timestamp('1992-10-01 00:00:00'),
  Timestamp('1993-01-01 00:00:00'),
  Timestamp('1993-04-01 00:00:00'),
  Timestamp('1993-07-01 00:00:00'),
  Timestamp('1993-10-01 00:00:00'),
  Timestamp('1994-01-01 00:00:00'),
  Timestamp('1994-04-01 00:00:00'),
  Timestamp('1994-07-01 00:00:00'),
  Timestamp('1994-10-01 00:00:00'),
  Timestamp('1995-01-01 00:00:00'),
  Timestamp('1995-04-01 00:00:00'),
  Timestamp('1995-07-01 00:00:00'),
  Timestamp('1995-10-01 00:00:00'),
  Timestamp('1996-01-01 00:00:00'),
  Timestamp('1996-04-01 00:00:00'),
  Timestamp('1996-07-01 00:00:00'),
  Timestamp('1996-10-01 00:00:00'),
  Timestamp('1997-01-01 00:00:00'),
  Timestamp('1997-04-01 00:00:00'),
  Timestamp('1997-07-01 00:00:00'),
  Timestamp('1997-10-01 00:00:00'),
  Timestamp('1998-01-01 00:00:00'),
  Timestamp('1998-04-01 00:00:00'),
  Timestamp('1998-07-01 00:00:00'),
  Timestamp('1998-10-01 00:00:00'),
  Timestamp('1999-01-01 00:00:00'),
  Timestamp('1999-04-01 00:00:00'),
  Timestamp('1999-07-01 00:00:00'),
  Timestamp('1999-10-01 00:00:00'),
  Timestamp('2000-01-01 00:00:00'),
  Timestamp('2000-04-01 00:00:00'),
  Timestamp('2000-07-01 00:00:00'),
  Timestamp('2000-10-01 00:00:00'),
  Timestamp('2001-01-01 00:00:00'),
  Timestamp('2001-04-01 00:00:00'),
  Timestamp('2001-07-01 00:00:00'),
  Timestamp('2001-10-01 00:00:00'),
  Timestamp('2002-01-01 00:00:00'),
  Timestamp('2002-04-01 00:00:00'),
  Timestamp('2002-07-01 00:00:00'),
  Timestamp('2002-10-01 00:00:00'),
  Timestamp('2003-01-01 00:00:00'),
  Timestamp('2003-04-01 00:00:00'),
  Timestamp('2003-07-01 00:00:00'),
  Timestamp('2003-10-01 00:00:00'),
  Timestamp('2004-01-01 00:00:00'),
  Timestamp('2004-04-01 00:00:00'),
  Timestamp('2004-07-01 00:00:00'),
  Timestamp('2004-10-01 00:00:00'),
  Timestamp('2005-01-01 00:00:00'),
  Timestamp('2005-04-01 00:00:00'),
  Timestamp('2005-07-01 00:00:00'),
  Timestamp('2005-10-01 00:00:00'),
  Timestamp('2006-01-01 00:00:00'),
  Timestamp('2006-04-01 00:00:00'),
  Timestamp('2006-07-01 00:00:00'),
  Timestamp('2006-10-01 00:00:00'),
  Timestamp('2007-01-01 00:00:00'),
  Timestamp('2007-04-01 00:00:00'),
  Timestamp('2007-07-01 00:00:00'),
  Timestamp('2007-10-01 00:00:00'),
  Timestamp('2008-01-01 00:00:00'),
  Timestamp('2008-04-01 00:00:00'),
  Timestamp('2008-07-01 00:00:00'),
  Timestamp('2008-10-01 00:00:00'),
  Timestamp('2009-01-01 00:00:00'),
  Timestamp('2009-04-01 00:00:00'),
  Timestamp('2009-07-01 00:00:00'),
  Timestamp('2009-10-01 00:00:00'),
  Timestamp('2010-01-01 00:00:00'),
  Timestamp('2010-04-01 00:00:00'),
  Timestamp('2010-07-01 00:00:00'),
  Timestamp('2010-10-01 00:00:00'),
  Timestamp('2011-01-01 00:00:00'),
  Timestamp('2011-04-01 00:00:00'),
  Timestamp('2011-07-01 00:00:00'),
  Timestamp('2011-10-01 00:00:00'),
  Timestamp('2012-01-01 00:00:00'),
  Timestamp('2012-04-01 00:00:00'),
  Timestamp('2012-07-01 00:00:00'),
  Timestamp('2012-10-01 00:00:00'),
  Timestamp('2013-01-01 00:00:00'),
  Timestamp('2013-04-01 00:00:00'),
  Timestamp('2013-07-01 00:00:00'),
  Timestamp('2013-10-01 00:00:00'),
  Timestamp('2014-01-01 00:00:00'),
  Timestamp('2014-04-01 00:00:00'),
  Timestamp('2014-07-01 00:00:00'),
  Timestamp('2014-10-01 00:00:00'),
  Timestamp('2015-01-01 00:00:00'),
  Timestamp('2015-04-01 00:00:00'),
  Timestamp('2015-07-01 00:00:00'),
  Timestamp('2015-10-01 00:00:00'),
  Timestamp('2016-01-01 00:00:00'),
  Timestamp('2016-04-01 00:00:00'),
  Timestamp('2016-07-01 00:00:00'),
  Timestamp('2016-10-01 00:00:00'),
  Timestamp('2017-01-01 00:00:00'),
  Timestamp('2017-04-01 00:00:00'),
  Timestamp('2017-07-01 00:00:00'),
  Timestamp('2017-10-01 00:00:00'),
  Timestamp('2018-01-01 00:00:00'),
  Timestamp('2018-04-01 00:00:00'),
  Timestamp('2018-07-01 00:00:00'),
  Timestamp('2018-10-01 00:00:00'),
  Timestamp('2019-01-01 00:00:00'),
  Timestamp('2019-04-01 00:00:00'),
  Timestamp('2019-07-01 00:00:00'),
  Timestamp('2019-10-01 00:00:00'),
  Timestamp('2020-01-01 00:00:00'),
  Timestamp('2020-04-01 00:00:00'),
  Timestamp('2020-07-01 00:00:00'),
  Timestamp('2020-10-01 00:00:00'),
  Timestamp('2021-01-01 00:00:00')],
 'lumber_price_index': [29.9,
  30.0,
  30.1,
  30.6,
  31.0,
  32.9,
  32.8,
  32.0,
  31.0,
  31.6,
  32.1,
  33.0,
  33.9,
  36.7,
  37.9,
  39.6,
  43.9,
  49.0,
  39.6,
  38.0,
  37.7,
  36.7,
  36.2,
  36.6,
  36.4,
  42.5,
  46.1,
  46.1,
  47.3,
  49.9,
  52.0,
  53.5,
  54.4,
  66.7,
  67.4,
  69.0,
  68.6,
  74.3,
  68.9,
  59.1,
  56.8,
  60.9,
  63.3,
  63.1,
  67.6,
  74.2,
  74.4,
  79.0,
  83.0,
  86.5,
  88.8,
  94.1,
  96.7,
  101.9,
  102.7,
  107.6,
  108.3,
  114.3,
  114.2,
  119.2,
  108.2,
  99.8,
  105.3,
  103.2,
  106.6,
  107.4,
  107.0,
  100.3,
  99.7,
  100.5,
  102.7,
  98.3,
  105.2,
  114.0,
  120.1,
  110.9,
  113.5,
  118.9,
  110.2,
  107.6,
  110.4,
  109.4,
  114.1,
  105.3,
  106.0,
  113.3,
  111.1,
  111.1,
  111.9,
  116.8,
  119.7,
  120.5,
  120.8,
  123.9,
  125.1,
  120.0,
  119.8,
  126.5,
  130.0,
  127.3,
  124.5,
  129.3,
  126.5,
  120.5,
  120.0,
  121.6,
  133.2,
  124.5,
  132.3,
  148.6,
  142.8,
  143.8,
  164.6,
  197.3,
  172.9,
  181.5,
  202.0,
  188.2,
  184.4,
  181.4,
  182.1,
  175.7,
  173.0,
  171.0,
  165.7,
  172.2,
  181.0,
  182.8,
  190.2,
  199.9,
  199.0,
  187.1,
  185.3,
  187.2,
  178.9,
  171.7,
  177.4,
  185.5,
  202.8,
  183.6,
  189.1,
  186.3,
  176.1,
  171.6,
  166.6,
  170.0,
  175.4,
  167.3,
  168.3,
  174.7,
  170.2,
  168.1,
  168.1,
  169.3,
  175.3,
  179.4,
  183.7,
  206.6,
  208.6,
  204.9,
  197.6,
  204.8,
  198.0,
  195.8,
  199.4,
  198.8,
  187.3,
  174.6,
  176.9,
  177.0,
  179.2,
  171.2,
  163.7,
  162.8,
  166.9,
  159.4,
  150.4,
  145.0,
  150.9,
  151.4,
  157.2,
  175.8,
  167.4,
  162.6,
  169.0,
  168.7,
  165.9,
  165.0,
  164.1,
  170.1,
  170.7,
  170.6,
  190.9,
  208.4,
  190.5,
  200.4,
  210.5,
  215.3,
  215.6,
  214.0,
  210.0,
  202.8,
  200.1,
  192.3,
  194.1,
  201.7,
  204.8,
  204.9,
  203.1,
  215.9,
  216.9,
  223.6,
  225.3,
  238.4,
  248.0,
  214.2,
  210.0,
  212.6,
  209.9,
  208.6,
  209.6,
  204.5,
  241.1,
  301.3,
  320.9],
 'homeownership_rate': [62.9,
  62.9,
  62.9,
  63.4,
  63.5,
  63.2,
  63.3,
  63.8,
  63.3,
  63.9,
  63.8,
  63.5,
  63.6,
  64.1,
  64.1,
  63.6,
  64.1,
  64.4,
  64.4,
  64.4,
  64.3,
  64.0,
  64.4,
  64.0,
  64.0,
  64.1,
  64.4,
  64.5,
  64.3,
  64.5,
  64.3,
  64.4,
  64.9,
  64.4,
  64.4,
  64.4,
  64.8,
  64.8,
  64.6,
  64.4,
  64.4,
  64.9,
  64.6,
  64.5,
  64.6,
  64.6,
  64.9,
  64.8,
  64.8,
  64.5,
  65.0,
  64.9,
  64.8,
  64.4,
  65.2,
  65.4,
  64.8,
  64.9,
  65.8,
  65.4,
  65.5,
  65.5,
  65.8,
  65.5,
  65.6,
  65.3,
  65.6,
  65.2,
  64.8,
  64.9,
  64.9,
  64.5,
  64.7,
  64.7,
  64.8,
  64.4,
  64.6,
  64.6,
  64.6,
  64.1,
  64.1,
  64.1,
  63.9,
  63.5,
  63.6,
  63.8,
  63.8,
  63.9,
  63.8,
  63.8,
  64.2,
  64.1,
  63.7,
  63.7,
  64.0,
  63.8,
  63.9,
  63.8,
  64.1,
  63.8,
  64.0,
  63.7,
  64.0,
  64.1,
  63.9,
  63.9,
  64.2,
  64.2,
  64.0,
  63.9,
  64.3,
  64.4,
  64.2,
  64.4,
  64.7,
  64.6,
  63.8,
  63.8,
  64.1,
  64.2,
  64.2,
  64.7,
  65.0,
  65.1,
  65.1,
  65.4,
  65.6,
  65.4,
  65.4,
  65.7,
  66.0,
  65.7,
  65.9,
  66.0,
  66.8,
  66.4,
  66.7,
  66.6,
  67.0,
  66.9,
  67.1,
  67.2,
  67.7,
  67.5,
  67.5,
  67.7,
  68.1,
  68.0,
  67.8,
  67.6,
  68.0,
  68.3,
  68.0,
  68.0,
  68.4,
  68.6,
  68.6,
  69.2,
  69.0,
  69.2,
  69.1,
  68.6,
  68.8,
  69.0,
  68.5,
  68.7,
  69.0,
  68.9,
  68.4,
  68.2,
  68.2,
  67.8,
  67.8,
  68.1,
  67.9,
  67.5,
  67.3,
  67.4,
  67.6,
  67.2,
  67.1,
  66.9,
  66.9,
  66.5,
  66.4,
  65.9,
  66.3,
  66.0,
  65.4,
  65.5,
  65.5,
  65.4,
  65.0,
  65.0,
  65.3,
  65.2,
  64.8,
  64.7,
  64.4,
  64.0,
  63.7,
  63.4,
  63.7,
  63.8,
  63.5,
  62.9,
  63.5,
  63.7,
  63.6,
  63.7,
  63.9,
  64.2,
  64.2,
  64.3,
  64.4,
  64.8,
  64.2,
  64.1,
  64.8,
  65.1,
  65.3,
  67.9,
  67.4,
  65.8,
  65.6],
 'median_house_price': [20200.0,
  19800.0,
  20200.0,
  20300.0,
  21000.0,
  22100.0,
  21500.0,
  21400.0,
  22300.0,
  23300.0,
  22500.0,
  22900.0,
  23900.0,
  24900.0,
  24800.0,
  25600.0,
  25700.0,
  25900.0,
  25900.0,
  24900.0,
  23900.0,
  24400.0,
  23000.0,
  22600.0,
  24300.0,
  25800.0,
  25300.0,
  25500.0,
  26200.0,
  26800.0,
  27900.0,
  29200.0,
  30200.0,
  32700.0,
  33500.0,
  34000.0,
  35200.0,
  35600.0,
  36200.0,
  37200.0,
  38100.0,
  39000.0,
  38800.0,
  41200.0,
  42800.0,
  44200.0,
  44400.0,
  45500.0,
  46300.0,
  48900.0,
  48800.0,
  51600.0,
  53000.0,
  55300.0,
  56100.0,
  59000.0,
  60600.0,
  63100.0,
  64700.0,
  62600.0,
  63700.0,
  64000.0,
  64900.0,
  66400.0,
  66800.0,
  69400.0,
  69200.0,
  70400.0,
  66400.0,
  69600.0,
  69300.0,
  71600.0,
  73300.0,
  74900.0,
  77400.0,
  75900.0,
  78200.0,
  80700.0,
  81000.0,
  79900.0,
  82800.0,
  84300.0,
  83200.0,
  86800.0,
  88000.0,
  92100.0,
  93000.0,
  95000.0,
  97900.0,
  103400.0,
  106000.0,
  111500.0,
  110000.0,
  110000.0,
  115000.0,
  113900.0,
  118000.0,
  118900.0,
  120000.0,
  124800.0,
  123900.0,
  126800.0,
  117000.0,
  121500.0,
  120000.0,
  119900.0,
  120000.0,
  120000.0,
  119500.0,
  120000.0,
  120000.0,
  126000.0,
  125000.0,
  127000.0,
  127000.0,
  127000.0,
  130000.0,
  130000.0,
  129700.0,
  132000.0,
  130000.0,
  133900.0,
  132000.0,
  138000.0,
  137000.0,
  139900.0,
  140000.0,
  144100.0,
  145000.0,
  145800.0,
  145000.0,
  144200.0,
  152200.0,
  149500.0,
  153000.0,
  153000.0,
  157400.0,
  158700.0,
  159100.0,
  165300.0,
  165300.0,
  163200.0,
  168800.0,
  172900.0,
  169800.0,
  179000.0,
  172500.0,
  171100.0,
  188700.0,
  187200.0,
  178100.0,
  190100.0,
  186000.0,
  191800.0,
  191900.0,
  198800.0,
  212700.0,
  217600.0,
  213500.0,
  228800.0,
  232500.0,
  233700.0,
  236400.0,
  243600.0,
  247700.0,
  246300.0,
  235600.0,
  245400.0,
  257400.0,
  242200.0,
  241800.0,
  238400.0,
  233900.0,
  235300.0,
  226500.0,
  222500.0,
  208400.0,
  220900.0,
  214300.0,
  219000.0,
  222900.0,
  219500.0,
  224100.0,
  224300.0,
  226900.0,
  228100.0,
  223500.0,
  221100.0,
  238400.0,
  238700.0,
  248800.0,
  251700.0,
  258400.0,
  268100.0,
  264800.0,
  273600.0,
  275200.0,
  288000.0,
  281000.0,
  298900.0,
  289200.0,
  289100.0,
  295800.0,
  302500.0,
  299800.0,
  306000.0,
  303800.0,
  310900.0,
  313100.0,
  318200.0,
  320500.0,
  337900.0,
  331800.0,
  315600.0,
  330900.0,
  322800.0,
  313000.0,
  322500.0,
  318400.0,
  327100.0,
  329000.0,
  322600.0,
  337500.0,
  358700.0,
  347500.0]}

### Load

In [32]:
#establish MongoDB connection
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.housing_db

#load in lumber price index
db.fred.drop()
db.fred.find()

db.fred.insert_one(df_dictionary)