In [1]:
# Dependencies
import pandas as pd
import numpy as np
import pymongo
import time
import datetime as dt
import json
import geojson

In [2]:
#open geojson file
with open("../static/data/us_states.geojson", encoding="ISO-8859-1") as fp:
    geo = geojson.load(fp)

In [3]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.housing_db
collection = db.redfin
result = collection.find({'region_type': 'county', 'period_begin': "2020-12-28"})

df = pd.DataFrame(list(result))
sel_cols = [
"region_name" ,
"median_sale_price",
"median_sale_ppsf",
"inventory"
]
rf_df = df[sel_cols]

In [4]:
states = []
for region in rf_df["region_name"]:
    reg_list = region.split(",")
    if len(reg_list) == 2:
        reg_state = reg_list[1][1:3]
        states.append(reg_list[1][1:3])
    else:
        states.append("")
rf_df["state"] = states
rf_df.head()

C:\Users\kyucz\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

            region_name median_sale_price    median_sale_ppsf inventory state
0       Iowa County, WI          133000.0   89.28571428571429      47.0    WI
1   Shoshone County, ID          240000.0   98.07619766125987      21.0    ID
2     Washoe County, NV          403997.5  242.17854384812048     959.0    NV
3  Washtenaw County, MI          285090.0  163.96946564885496     767.0    MI
4    Indiana County, PA          125000.0  106.56822082379864     161.0    PA

In [20]:
rf_df["median_sale_price"] = pd.to_numeric(rf_df["median_sale_price"])

rf_df["median_sale_ppsf"] = pd.to_numeric(rf_df["median_sale_ppsf"])

rf_df["inventory"] = pd.to_numeric(rf_df["inventory"])

C:\Users\kyucz\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\kyucz\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\kyucz\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [24]:
# agg_df = rf_df.groupby("state").agg(["mean"])
agg_df = rf_df.groupby("state").agg({"median_sale_price": "median", "median_sale_ppsf": "median", "inventory": "sum"})
agg_df.reset_index(inplace = True)
agg_df

   state  median_sale_price  median_sale_ppsf  inventory
0     AK          297752.30        166.906638     3334.0
1     AL          184653.00        103.432912    15803.0
2     AR          144000.00         89.964808     7957.0
3     AZ          344750.00        174.015895    37458.0
4     CA          574437.50        304.371932   126802.0
5     CO          406213.70        192.951566    19288.0
6     CT          246362.50        146.559138    30125.0
7     DC          630639.50        515.039257     5718.0
8     DE          262270.80        146.100943     6324.0
9     FL          277600.00        160.000000   225317.0
10    GA          241906.25        119.758627    45961.0
11    HI          700000.00        556.983296    14769.0
12    IA          198990.10        135.827501     5772.0
13    ID          349995.00        187.929278     2917.0
14    IL          150227.05         98.211758    63917.0
15    IN          185625.00        101.423995     8995.0
16    KS          166000.00        117.066291     3848.0
17    KY          181030.85        109.802209    11741.0
18    LA          218951.85        122.178135    13834.0
19    MA          507164.55        318.032802    20619.0
20    MD          303848.95        167.066965    30156.0
21    ME          195946.10        126.707484     5852.0
22    MI          170556.20        114.891497    38316.0
23    MN          193322.85        110.641091    21341.0
24    MO          174343.60        108.954630    19659.0
25    MS          232100.00        106.319444       57.0
26    NC          237375.00        137.952446    47833.0
27    NE          205500.00        115.069241     3523.0
28    NH          295815.20        170.223302     8180.0
29    NJ          365687.30        205.948941    70116.0
30    NM          257851.10        145.394933     5164.0
31    NV          328150.00        184.553969    24077.0
32    NY          183296.00        121.144967   111422.0
33    OH          165875.00        110.809283    47950.0
34    OK          175114.55        101.279870    13069.0
35    OR          349217.50        205.697389    12704.0
36    PA          201966.65        123.008225    51542.0
37    RI          418404.00        206.809910     6285.0
38    SC          238056.25        129.883974    47758.0
39    TN          227437.20        127.832781    40073.0
40    TX          252785.00        130.317781   128838.0
41    UT          324897.90        159.565941     7208.0
42    VA          307204.15        159.592356    27902.0
43    VT          251956.25        143.668481     7056.0
44    WA          414031.10        229.556307    16017.0
45    WI          192000.00        113.694938    34809.0
46    WV          217427.05        122.927424     2002.0

In [25]:
print(agg_df['median_sale_price'].min())

print(agg_df['median_sale_price'].max())

144000.0
700000.0

In [23]:
# quartiles = agg_df['median_sale_price'].quantile([.25,.5,.75])
# lowQ = quartiles[0.25]
# highQ = quartiles[0.75]
# medQ = quartiles[0.5]
# iqr = highQ-lowQ

# print(f'The lower quartile of median sale prices is {lowQ}.')
# print(f'The higher quartile of median sale prices is {highQ}.')
# print(f'The interquartile of median sale prices is {iqr}.')
# print(f'The median sale price is {medQ}.')

# low_out = lowQ - (1.5*iqr)
# high_out = highQ + (1.5*iqr)

# print(f'Values below {low_out} could be outliers.')
# print(f'Values above {high_out} could be outliers.')

The lower quartile of median sale prices is 192661.425.
The higher quartile of median sale prices is 326523.95.
The interquartile of median sale prices is 133862.52500000002.
The median sale price is 241906.25.
Values below -8132.362500000047 could be outliers.
Values above 527317.7375 could be outliers.

In [16]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

# thank you to @kinghelix and @trevormarburger for this idea
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

# Simple test examples
if __name__ == '__main__':
    print("Wisconin --> WI?", us_state_abbrev['Wisconsin'] == 'WI')
    print("WI --> Wisconin?", abbrev_us_state['WI'] == 'Wisconsin')
    print("Number of entries (50 states, DC, 5 Territories) == 56? ", 56 == len(us_state_abbrev))

Wisconin --> WI? True
WI --> Wisconin? True
Number of entries (50 states, DC, 5 Territories) == 56?  True

In [17]:
new_geo = geo
for i in range(len(geo.features)):
    NAME = geo.features[i].properties["name"]
    for row in agg_df.iterrows():
        if us_state_abbrev[NAME] == row[1][0]:
            new_geo.features[i].properties["median_sale_price"] = round(row[1][1],2)
            new_geo.features[i].properties["median_sale_ppsf"] = round(row[1][2],2)
            new_geo.features[i].properties["inventory"] = round(row[1][3],2)

In [18]:
new_geo.features[0].properties

{'name': 'Alabama',
 'density': 94.65,
 'median_sale_price': 184653.0,
 'median_sale_ppsf': 103.43,
 'inventory': 15803.0}

In [19]:
# #establish MongoDB connection
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.housing_db

# #load in totals
db.redfinmap.drop()
db.redfinmap.find()

db.redfinmap.insert_one(new_geo)